.category-name {
  font-weight: 400;
  font-size: 2.625rem;
  margin-top: 0;
}

.category-name::first-letter {
  text-transform: capitalize;
}

.all-products-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  row-gap: 6.5rem;
}
