@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&family=Roboto+Condensed:wght@400;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

/* General settings */

html {
  overflow: scroll;
}

* {
  box-sizing: border-box;
  font-family: 'Raleway';
  color: #1D1F22;
  line-height: 160%;
}

a,
a:visited,
a:focus {
  text-decoration: none;
}

ul,
ul > * {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

/* Components' settings */

.app {
  padding: 0 6.25rem;
  width: 100%;
}

/*  */

